{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Upgrade to WannaDate Premium</title>
    <meta name="description" content="A demo of Stripe Payment Intents" />

    <!-- <link rel="icon" href="favicon.ico" type="image/x-icon" /> -->
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <!-- <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/global.css" /> -->
    <!-- Load Stripe.js on your website. -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{%static 'script.js' %}" defer></script>
</head>

<body>
    <div class="togethere-background"></div>
    <div class="sr-root">
        <div class="sr-main">
            <header class="sr-header">
                <div class="sr-header__logo"></div>
            </header>
            <h1>Get WannaDate Premium</h1>

            <div class="price-table-container">
                <section>
                    <form action={% url 'create-checkout-session' %} method="POST">
                        {% csrf_token %}
                        <input type="hidden" id="basicPrice" name="priceId">
                        <img src="{% static 'starter.png' %}" width="120" height="120" />
                        <div class="name">1 MONTH</div>
                        <div class="price">$20</div>
                        <div class="duration">per month</div>
                        <button id="basic-plan-btn">Select</button>
                    </form>
                </section>
                <section>
                    <form action={% url 'create-checkout-session' %} method="POST">
                        {% csrf_token %}
                        <input type="hidden" id="proPrice" name="priceId">
                        <img src="{%static 'professional.png'%}" width="120" height="120" />
                        <div class="name">6 MONTHS</div>
                        <div class="price">$15</div>
                        <div class="duration">per month</div>
                        <button id="pro-plan-btn">Select</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <div id="error-message" class="error-message"></div>
</body>

</html>